<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Jasmine Spec Runner</title>
  <script type="text/javascript"
          src="../../freedom.js"
          data-manifest="providers.json">
    {
    "stayLocal": true,
    "debug": true,
    "strongIsolation": true
    }
  </script>
<% css.forEach(function(style){ %>
  <link rel="stylesheet" type="text/css" href="<%= style %>">
<% }) %>
<% with (scripts) { %>
  <% [].concat(jasmine, boot, vendor, helpers, src, specs,reporters).forEach(function(script){ 
     script = script.replace("../", "");
     %>
  <script src="<%= script %>"></script>
  <% }) %>
<% }; %>
</head>
<body>
</body>
</html>
